---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact" description="Get in touch with Cameron Geisler for math tutoring inquiries.">
  <div class="page-header">
    <div class="container">
      <h1>Contact</h1>
    </div>
  </div>
  <div class="container">
    <div class="page-content">
      <ul><li><a href="https://www.linkedin.com/in/cameron-geisler/">LinkedIn</a></li><li><a href="https://www.facebook.com/cameron.geisler.5">Facebook</a></li><li>Email: ckg888888@gmail.com</li></ul><p>To contact me for tutoring, use the <a href="http://camerongeisler.com/math-tutoring/">tutoring form</a>.</p><!--kg-card-begin: html--><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdZJKUR8VSrWIgFTe-yNuowrL-ABHrNNYt9TtTA5ME0hiuthg/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe><!--kg-card-end: html-->
      <p>You can reach me at: <a href="mailto:camerongeislertutor@gmail.com">camerongeislertutor@gmail.com</a></p>
    </div>
  </div>
</Layout>
