---
import Layout from '../layouts/Layout.astro';
---
<Layout title="My Math Notes" description="Cameron Geisler's math notes covering calculus, precalculus, and more.">
  <div class="page-header">
    <div class="container">
      <h1>My Math Notes</h1>
    </div>
  </div>
  <div class="container">
    <div class="page-content">
      <p>I'm currently developing my math notes to be hosted online, for anyone to view. Eventually, they will be developed to be almost as complete as a textbook.</p><h2 id="calculus-i-wip">Calculus I (WIP)</h2><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://camerongeisler.github.io/calculus/output/html/book.html"><div class="kg-bookmark-content"><div class="kg-bookmark-title">Calculus</div><div class="kg-bookmark-description"></div><div class="kg-bookmark-metadata"></div></div><div class="kg-bookmark-thumbnail"><img src="https://www.mathjax.org/badge/badge.gif" alt=""></div></a></figure><h2 id="matrix-algebra-linear-algebra-wip">Matrix Algebra, Linear Algebra (WIP)</h2><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://camerongeisler.github.io/linear-algebra/output/html/book.html"><div class="kg-bookmark-content"><div class="kg-bookmark-title">Linear Algebra Notes</div><div class="kg-bookmark-description"></div><div class="kg-bookmark-metadata"></div></div><div class="kg-bookmark-thumbnail"><img src="https://www.mathjax.org/badge/badge.gif" alt=""></div></a></figure><h2 id="mathematical-proof-and-discrete-math-wip">Mathematical Proof and Discrete Math (WIP)</h2><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://camerongeisler.github.io/discrete-math/output/html/book.html"><div class="kg-bookmark-content"><div class="kg-bookmark-title">Discrete Math</div><div class="kg-bookmark-description"></div><div class="kg-bookmark-metadata"></div></div><div class="kg-bookmark-thumbnail"><img src="https://www.mathjax.org/badge/badge.gif" alt=""></div></a></figure><h2 id="algebra-and-precalculus-wip">Algebra and Precalculus (WIP)</h2><figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://camerongeisler.github.io/algebra-precalculus/output/html/book.html"><div class="kg-bookmark-content"><div class="kg-bookmark-title">Algebra and Precalculus</div><div class="kg-bookmark-description"></div><div class="kg-bookmark-metadata"></div></div><div class="kg-bookmark-thumbnail"><img src="https://www.mathjax.org/badge/badge.gif" alt=""></div></a></figure><p>These notes are created using <a href="https://pretextbook.org/">PreTeXt</a>.</p>
    </div>
  </div>
</Layout>
